/* font import area */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* font import area */



/* common area */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    background: rgb(245,248,255);
}
/* common area */
/* color section */
.primary-bgcolor{
    background: #4E47FF;
}
.btn-common{
    background: #4E47FF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
/* color section */
/*  text area*/
.header_txt{
 font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-style: normal;
}
.pera_txt{
  font-family: "Inter", sans-serif;
  font-weight: regular;
  font-style: normal;
}
.pera_semib{
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #757575;
    font-size: 16px;
}
.pera_head{
    font-family: "Inter", sans-serif;
  font-weight: bold;
  font-style: normal;
}
.form-text{
 font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  padding: 10px 0;
  color: #000000;
}
/* common  text area*/

/* header */
.header-bg{
    background:url(../Images/Hero-bg.png) no-repeat center;
    width: 100%;
    background-size: cover;
}


/* nav  */
.header-bg .nav-area{
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
     margin: 0 auto;
    
}
.header-bg .nav-area .logo{
     font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 34px;

}
.header-bg .nav-area .logo a{
    text-decoration: none;
        color: #4E47FF;
}
.header-bg .nav-area .nav-button{
    font-size: 16px;
}
/* nav ends */
/* banner area starts */
.banner-area{
    max-width: 1140px;
    margin: 150px auto;
    text-align: center;
}
.banner-area .banner-h1{
    font-size: 65px;
    padding: 0 150px;
}
.banner-area .btn-banner{
    padding: 15px 25px;
    margin-top: 37px;
    margin-bottom: 100px;
    font-size: 16px;
}
/* banner area ends */
/* header */

/* main  area */
main{
    max-width: 1140px;
    margin: 0 auto;
    background: rgb(245,248,255);
}
/* action area */
.action-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 115px;
}
.action-content  .action-details{
    max-width: 510px;
}
.action-content  .action-details h1{
    font-size: 42px;
    margin-top: -20px;
}
.action-content  .action-details .btn-action{
    padding: 12px 36px;
}
.action-content  .action-details .action-pera{
   font-family: "Raleway", sans-serif;
  font-weight: regular;
  line-height: 30px;
  font-style: normal; 
  font-size: 24px;
  color:rgba(37, 36, 50, 0.5);
  padding: 20px 0;
}
.action-content .action-img{
    width: 403px;
    height: 328px;
}
.action-content .action-img img{
    width: 100%;
    height: 100%;
    border-radius: 48px;
}
/* action area */
/* Productive Users Section */
.productive-section{
    background: rgba(78, 71, 255,10%);
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    max-width: 1140px;
    margin-bottom: 136px;
}
.productive-title .productive-h1{
    font-size: 38px;
    color: #252432;
    margin-bottom: 20px;
}
.productive-section .productive-data{
    max-width: 1140px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    gap: 158px ;
}
.productive-section .productive-data .productive-item{
    text-align: center;
    max-width: 180px;
}
.productive-section .productive-data .productive-item .productive-data-heading{
    font-size: 80px;
    color: #4E47FF;
}
.productive-section .productive-data .productive-item .productive-pera{
    color: rgba(0, 0, 0, 0.5);
}
/* Productive Users Section */
/* User's Feedback Section */
.user-feedback-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 130px;
}
.user-title-txt{
    font-size: 42px;
    color: #252432;
}
.user-feedback-area .user-review{
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.user-feedback-area .user-review .user-review-conent {
    width: 367px;
    padding: 0 24px;
    background: #ffffff7f;
    border: 1px solid #F2EDED;
    border-radius: 14px;
}
.user-feedback-area .user-review .user-review-conent span{
    margin-top: 20px;
    display: block;
}
.user-feedback-area .user-review .user-review-conent .user-h3{
    font-size: 24px;
    color: #1E1E1E;
    font-weight: 500;
    margin-top: 10px;
}
.user-feedback-area .user-review .user-review-conent .user-pera{
    font-size: 16px;
    color: #1E1E1E;
    padding-top: 5px;
    padding-bottom: 24px;
}
.user-feedback-area .user-review .reviewer{
    display: flex;
    gap: 12px;
}
.user-feedback-area .user-review .reviewer .reviewer-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.user-feedback-area .user-review .reviewer .reviewer-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.user-feedback-area .user-review .reviewer .reviewer_name .reviewe-date{
    font-size: 16px;
    color: #B3B3B3;

}
/* User's Feedback Section */
/* ready to focus area */
.focus-area{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    flex-direction: column;
    text-align: center;
    background: #fff;
    padding: 71px 0;
    border-radius: 14px;
}
.focus-area .focus-contant .focus-head{
    font-size: 50px;
    color: #000000;
    line-height: 120%;
}
.focus-area .focus-contant .focus-pera{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
}
.focus-area .focus-contant .btn-focus{
    padding: 12px 36px;
    margin-bottom: 20px;
    font-size: 16px;
}
.focus-area img{
    border-radius: 48px;
}

/* ready to focus area */
/* Let’s Get In Touch Section */
.contact-area{
    width: 1140px;
    display: flex;
    justify-content: space-between;
    padding: 71px 0;
}
.contact-area .contact-head{
    font-size: 97px;
    line-height: 120%;
    margin-top: 120px;
    margin-bottom: 100px;
}
.contact-form form{
    width: 497px;
    display: flex;
    flex-direction: column;
}
.contact-form form input , textarea{
    padding: 20px 32px;
    border: 1px solid #D6DDED;
    border-radius: 10px;
}
.contact-form form input , textarea{
       font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
      font-family: "Inter", sans-serif;
  font-weight: regular;
  font-style: normal;
}
.contact-form form #email{
    
}
.contact-form form input::placeholder , textarea::placeholder{
 font-size: 20px;
 color: rgba(0, 0, 0, 0.5);
font-family: "Inter", sans-serif;
  font-weight: regular;
  font-style: normal;
}
.btn-contact{
    margin: 20px 0;
    font-size: 16px;
    padding: 20px 121px;
}
/* Let’s Get In Touch Section */
/* main  area */